<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth System</title>
</head>
<body>
    
    <a href="/">Home</a><br>
    <a href="/profile">Profile</a><br>
    <a href="/login">Login</a><br>
    <a href="/register">Register</a><br>
    <a href="/logout">Logout</a>
    <hr>
    <a href="/auth/google">Login using google</a><br>
    <hr>
    <h1>Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur harum tenetur fugiat exercitationem sunt accusamus a porro eveniet, enim quibusdam!</p>

</body>
</html>